{% extends 'base.html.twig' %}

{% block title %}Accueil animaux{% endblock %}

{% block titrePage %}Liste des animaux{% endblock %}

{% block body %}
    {% for animal in animaux %}
        <div class="row mb-2">
            <div class="col-2 text-center">
                <img src="{{ animal.image }}" alt="{{ animal.nom }}">
            </div>
            <div class="col-6">
                <h2><a href="{{ path('app_animaux_show', {'id' : animal.id}) }}">{{ animal.nom }}</a></h2>
                <p>{{ animal.description }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
